.root {
  position: relative;
  padding: var(--mantine-spacing-md);
  transition: border-color 150ms ease;
  border-color: rgba(111, 111, 111, 0.626) !important;

  &:hover {
    background-color: var(--mantine-color-gray-0);
  }

  &[data-checked] {
    border-color: var(--mantine-primary-color-filled);
  }

  @mixin hover {
    @mixin light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin dark {
      background-color: var(--mantine-color-dark-6);
    }
  }
}
